@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital@1&family=Open+Sans:ital,wght@1,300&family=Playfair+Display:wght@600&display=swap');

* {
    padding: 0px;
    margin: 0px;
    
    }

    body{
        background-image: url(../images/restuarant-AdobeStock_127886089.jpg);
        font-family: 'Open Sans', sans-serif;
    }
       
    .header>ul  {
        padding:20px;
         background-color:rgba(236, 244, 245, 0.863);
        margin: bottom 5%;
        position: sticky;
        top: 0;
        
        
        }
        ul , a, li {
            text-decoration: none;
            display: flex;
            align-items: center;
            padding-right: 3em;
        
        color: black;
        
        }

        .form{
         padding: 5%;
         margin: 5%;
    
        }

        .form{
            display: block;
             background-color: rgba(240, 224, 203, 0.767);
            float: left;

        }
        
        input{

            border-radius: 5px;
            height: 20px;
            width: 190px;
            font-size: 15px;
            padding: 5%;


        }

        button{
            background:#5858518e ;
            color: black;
            border-radius: 5px;
            height: 30px;
            width: 150px;
            font-size: 15px;
            box-shadow: 0 10px 15px rgba(0,0,0,.2);
            cursor: pointer;


        }