@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital@1&family=Open+Sans:ital,wght@1,300&family=Playfair+Display:wght@600&display=swap');

* {
    padding: 0px;
    margin: 0px;
    
    }

    body{
        background-color: aliceblue;
        font-family: 'Open Sans', sans-serif;
    }

    .header>ul  {
        padding:20px;
         background-color:rgba(238, 202, 155, 0.753);
        margin: bottom 5%;
        position: sticky;
        top: 0;
        
        
        }
        ul , a, li {
            text-decoration: none;
            display: flex;
            align-items: center;
            padding-right: 3em;
        
        color: black;
        
        }

        h1 {

         padding: 2%;
         margin: 2%;
         background-color: rgba(238, 202, 155, 0.753);


        }


        .image{

            float: right;
            padding: 2%;
            margin: 70px;

        }

        .table{
            margin: 200px 0 0 150px;


        }
        td, th {
 padding:10px 10px

        }